# deps
node_modules/
.pnp*

# build
dist/*
build/*
docs/*

# env
.env*

# ide
.vscode/*
.idea/*

# test
coverage/*

# logs
logs/*
*.log
.log*

# scripts & backend
scripts/*
supabase/.temp/*
src/components/login/PasskeyScreen.tsx.archived
